.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 43px auto 0 37px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 17px auto 60px 0;
}